{% extends 'shop-template.html' %}


{% block content %}
 <!--breadcrumbs area start-->
 <div class="breadcrumbs_area commun_bread">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>cart</h3>
                    <ul>
                        <li><a href="/shop">shop</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--shopping cart area start -->
<div class="shopping_cart_area">
    <div class="container">  
        <div class="row">
            <div class="col-12">
                <div class="table_desc">
                    <div class="cart_page table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product_thumb">Image</th>
                                    <th class="product_name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product_quantity">Quantity</th>
                                    <th class="product_total">Total</th>
                                    <th class="product_remove">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not cart_items %}
                                <tr>
                                    <td colspan="6" class="text-center">Your cart is empty.</td>
                                </tr>
                                {% endif %}
                                {% for item in cart_items %}
                                <tr>
                                  <td class="product_thumb"><a href="{{ url_for('product_details', name=item.product.name) }}"><img src="{{ url_for('uploaded_file', filename=item.product.image) }}" alt="" style="max-width: 80px;"></a></td>
                                  <td class="product_name"><a href="{{ url_for('product_details', name=item.product.name) }}">{{ item.product.name }}</a></td>
                                  <td class="product-price">${{ "%.2f"|format(item.product.effective_price) }}</td>
                                  <td class="product_quantity">
                                    <form action="{{ url_for('update_cart_quantity') }}" method="POST" class="qty-form">
                                        <input type="hidden" name="product_id" value="{{ item.product_id }}">
                                        <input min="1" max="100" name="quantity" value="{{ item.quantity }}" type="number" onchange="this.form.submit()">
                                    </form>
                                  </td>
                                  <td class="product_total">${{ "%.2f"|format(item.product.effective_price * item.quantity) }}</td>
                                  <td class="product_remove">
                                    <form action="{{ url_for('remove_from_cart') }}" method="POST" style="display:inline;">
                                        <input type="hidden" name="product_id" value="{{ item.product_id }}">
                                        <button type="submit" class="remove-btn"><i class="fa fa-trash-o"></i></button>
                                      </form>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>Cart Totals</h3>
                                <div class="coupon_inner">
                                   <div class="cart_subtotal">
                                       <p>Total</p>
                                       <p class="cart_amount">${{ "%.2f"|format(cart_total) }}</p>
                                   </div>
                                   <div class="checkout_btn">
                                    <a href="{{ url_for('checkout') }}">Proceed to Checkout</a>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}