<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{{ site_settings.default_title }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ site_settings.default_description }}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{{ site_settings.default_keywords }}{% endblock %}">
        <meta name="robots" content="{{ site_settings.robots }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.png">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='static/img/favicon.png') }}">
		
		<!-- all css here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bundle.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
		
    </head>
    <body>
      {% include 'shop-header.html' %}
      {% block content %}
      {% endblock %}
      {% include 'shop-footer.html' %}
  </body>
  </html>